@model WebStore.Domain.Entities.Employee

    <div class="container">
        <h1>Информация о сотруднике с id @Model.Id</h1>

        <p>Фамилия: @Model.Surname</p>
        <p>Имя: @Model.FirstName</p>
        <p>Отчетсво: @Model.SecondName</p>
        <p>Возраст: @Model.Age</p>
        <hr />

        <a asp-controller="Employees" asp-action="Index">Назад</a>
    </div>
        
