@model WebStore.Models.Employee


        <h3>Информация о сотруднике с id @Model.Id</h3>

        <p>Фамилия: @Model.Surname</p>
        <p>Имя: @Model.FirstName</p>
        <p>Отчетсво: @Model.SecondName</p>
        <p>Возраст: @Model.Age</p>
        <hr />

        <a href="/Home/Index">Назад</a>
